{% extends 'base.html.twig' %}

{# Recupération de la valeur de notre variable "slug", et affichage de cette dernière dans notre "title" #}

{% block title "Recette: " ~ recipe.title %}

{% block body %}
    <h1>{{ recipe.title }}</h1>
<!-- Récupération de notre variable form créé dans le RecipeController grâce à la fonction form de symfony-->
<!-- Le premier form est notre fonction symfony et le deuxième la variable $form de la route "edit" du RecipeController -->
<!-- Affichage du formulaire au complet -->
    {{ form(form) }}

<!-- Pour designer automatiquement la page avec bootstrap 5, on se rend dans config/packages/twig.yaml  -->
<!-- Ensuite, on inseère dans la branche twig: form_themes: ['bootstrap_5_layout.html.twig'] -->

<!-- Pour piloter manuellement votre formulaire et afficher vous-même certains champs du formulaire l'un à côté de l'autre, on fait comme suit... -->
<!-- form_start et form_end sont les balises ouvrantes et fermantes du formulaire sans oublier les crochets-->
<!-- form_row permet de faire appel à un champs spécifique du formulaire et de l'afficher -->
<!-- Le display flex ou d-flex de la div permet d'afficher le champ title à côté de du champ duration -->
    <!-- form_start(form) 
        <div class="d-flex">
            form_row(form.title) 
            form_row(form.duration) 
        </div>
    form_rest(form) -->
<!-- form_rest permet d'afficher le reste des éléments de notre formulaire en dehors de ceux dans le form_start et form_end -->
    <!-- form_end(form)  -->

{% endblock %}
