{% extends 'base.html.twig' %}

{# Recupération de la valeur de notre variable "slug", et affichage de cette dernière dans notre "title" #}

{% block title "Recette: " ~ recipe.title %}

{% block body %}
    <!-- Affichage du titre de la recette -->
    <h1>{{ recipe.title }}</h1>

    <p>
        <h2>Ingrédients et Préparation</h2>
        {{ recipe.content | nl2br }}
    </p>
{% endblock %}
